* {
    margin: 0;
    padding: 0;
}

#header {
    background-color: red;
    height: 10vh;
} 

.title {
    display: flex;
    justify-content: center;
    color: gold;
}

#body {
    background-color: white;
    height: 80vh;
}

#footer {
    background-color: red;
    height: 10vh;
}

